.results {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: fit-content;

}

.result-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.result-item h4 {
    display: inline;
}